{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "report-dir": "coverage-e2e",
    "exclude": [
        "**/coverage/**",
        "**/*.spec.ts"
    ],
    "reporter": [
        "html",
        "lcov",
        "text-summary",
        "text",
        "json"
    ]
}